* text=auto eol=lf
/third-party/*.LICENSE.txt -text
*.cs text diff=csharp
*.csproj text
*.slnx text
*.props text
*.json text
*.yml text
*.md text
*.png binary
*.ico binary
*.zip binary
*.gz binary
*.dll binary
*.exe binary
*.pdb binary
